.bold {
  font-weight: 400;
}

.main {
  background-color: var(--secondary);
  background-image: var(--gradient);
  color: var(--primary);
  max-width: 100%;
  min-height: 150vh;
  overflow-x: hidden;
}

.mainHeadBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head {
  font-weight: 200;
  font-size: 60px;
  font-family: var(--mainfont);
  overflow: hidden;
  text-align: center;
  white-space: nowrap; /* Keeps the content on a single line */
  border-right: 0.1em solid lightblue; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: typing 7s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

.subhead {
  font-family: var(--mainfont);
}

.itsalrightspan {
  font-family: var(--logofont) !important;
  font-size: 1em !important;
}

.buttonFormats {
  /* Empty CSS CLASS for responsiveness */
}

.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 60px;
  font-family: var(--mainfont);
}

.cardHeading {
  font-size: 3em;
  font-weight: 300;
  opacity: 1;
  animation: cardHeadingIn 1s 0.3s ease forwards;
}

.cardDescription {
  width: 48vw;
  font-size: 1em;
  font-weight: 300;
  line-height: 130%;
  font-family: var(--mainfont);
  animation: cardHeadingIn 1s 0.7s ease forwards;
}

.cardImage {
  margin-left: 100px;
  width: 400px;
  height: 300px;
  opacity: 1;
  animation: cardHeadingIn 1s 1.5s ease forwards;
}

.testimonialHeader {
  margin-top: 70px;
  text-align: center;
  font-family: var(--mainfont);
  font-size: 2.5em;
}

.testimonialRow {
  display: flex;
  justify-content: center;
  margin-left: -100px;
}

.testimonial {
  margin-left: 100px;
}

.testimonialContent {
  background-color: rgb(197, 224, 233);
  font-family: var(--mainfont);
  font-weight: 300;
  width: 300px;
  padding: 20px 30px 20px 30px;
  border-radius: 30px;
}

.testimonialPreHead {
  margin-top: 14px;
  font-family: var(--mainfont);
  display: flex;
}

.testimonialName {
  padding-left: 10px;
  font-family: var(--mainfont);
  font-size: 1.2em;
  font-weight: 600;
}

.testimonialSubName {
  font-family: var(--mainfont);
  padding-left: 10px;
  font-style: italic;
}

.testimonialImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 840px;
  }
  100% {
    width: 840px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lightblue;
  }
}

@media screen and (max-width: 1215px) {
  .testimonialRow {
    zoom: 0.9;
  }
}

@media screen and (max-width: 1070px) {
  .card {
    margin-left: 40px;
  }

  .testimonialRow {
    zoom: 0.86;
  }

  .testimonial {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1020px) {
  .card {
    margin-left: 30px;
  }
}

@media screen and (max-width: 990px) {
  .card {
    zoom: 0.9;
  }

  .testimonialRow {
    zoom: 0.83;
  }

  .testimonial {
    margin-left: 75px;
  }
}

@media screen and (max-width: 938px) {
  .testimonialRow {
    zoom: 0.81;
  }

  .testimonial {
    margin-left: 72px;
  }
}

@media screen and (max-width: 900px) {
  .testimonialRow {
    zoom: 0.77;
  }

  .testimonial {
    margin-left: 68px;
  }
}

@media screen and (max-width: 875px) {
  .card {
    zoom: 0.8;
  }

  .head {
    font-size: 50px;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 730px;
    }
    100% {
      width: 730px;
    }
  }
}

@media screen and (max-width: 832px) {
  .testimonialRow {
    zoom: 0.72;
  }

  .testimonial {
    margin-left: 66px;
  }
}

@media screen and (max-width: 783px) {
  .testimonialRow {
    zoom: 0.68;
  }

  .testimonial {
    margin-left: 60px;
  }
}

@media screen and (max-width: 734px) {
  .head {
    font-size: 40px;
  }

  .testimonialRow {
    zoom: 0.63;
  }

  .testimonial {
    margin-left: 56px;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 580px;
    }
    100% {
      width: 580px;
    }
  }
}

@media screen and (max-width: 700px) {
  .card {
    zoom: 0.75;
  }
}

@media screen and (max-width: 670px) {
  .testimonialRow {
    zoom: 0.6;
  }

  .testimonial {
    margin-left: 56px;
  }
}

@media screen and (max-width: 632px) {
  .testimonialRow {
    zoom: 0.5;
  }

  .testimonial {
    margin-left: 50px;
  }
}

@media screen and (max-width: 602px) {
  .cardImage {
    margin-left: 80px !important;
  }

  .head {
    font-size: 35px;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 490px;
    }
    100% {
      width: 490px;
    }
  }
}

@media screen and (max-width: 561px) {
  /* Absolutely change the FRICKING UI */
  .card {
    zoom: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    flex-direction: column;
  }

  .cardHeading {
    text-align: center;
  }

  .cardDescription {
    width: 90vw;
    margin-bottom: 20px;
  }

  .cardImage {
    margin-left: 0px !important;
    zoom: 1;
  }

  .subhead {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 519px) {
  .head {
    font-size: 30px;
  }

  .subhead {
    font-size: 0.85em;
  }

  .buttonFormats {
    zoom: 0.9 !important;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 430px;
    }
    100% {
      width: 430px;
    }
  }

  /* CHANGE THE FRICKING TESTIMONIALS SECTION BCUZ WHY NOT? */
  .testimonialRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    zoom: 1 !important;
  }

  .testimonial {
    margin-left: 0px !important;
    margin-top: 30px !important;
    width: 300px !important;
  }
}

@media screen and (max-width: 491px) {
  .cardHeading {
    zoom: 0.9;
  }

  .cardDescription {
    zoom: 0.9;
  }
}

@media screen and (max-width: 472px) {
  .subhead {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 449px) {
  .head {
    font-size: 27px;
  }

  .subhead {
    font-size: 0.75em;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 390px;
    }
    100% {
      width: 390px;
    }
  }
}

@media screen and (max-width: 409px) {
  .subhead {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 419px) {
  .cardHeading {
    zoom: 0.8;
  }

  .cardDescription {
    zoom: 0.8;
  }
}

@media screen and (max-width: 402px) {
  .head {
    font-size: 25px;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 370px;
    }
    100% {
      width: 370px;
    }
  }
}

@media screen and (max-width: 376px) {
  .head {
    font-size: 23px;
  }

  .subhead {
    font-size: 0.65em;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 340px;
    }
    100% {
      width: 340px;
    }
  }
}

@media screen and (max-width: 367px) {
  .cardHeading {
    zoom: 0.7;
  }

  .cardDescription {
    zoom: 0.7;
  }
}

@media screen and (max-width: 352px) {
  .subhead {
    font-size: 0.55em;
  }
}

@media screen and (max-width: 299px) {
  .cardHeading {
    zoom: 0.6;
    text-align: center;
  }

  .cardDescription {
    zoom: 0.6;
    text-align: center;
  }
}
