.head {
    text-align: center;
}

.connectSub {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}